<div class="page-content pt-3" (swipeup)="imageRejected($event)" (swipedown)="imageAccepted($event)" (swiperight)="imageNeutral($event)" (swipeleft)="resetImage($event)">
    <div class="container-fluid animated fadeIn">
        <div class="d-flex justify-content-center">
            <div class="card animate__animated animate__faster" (document:animationend)="animationDone()" [ngClass]="{'animate__zoomOutUp': isRejected, 'animate__fadeOutRight': isNeutral}">
                <div class="card-body">
                    <img [src]="imgURL" alt="angular-icon">
                </div>
            </div>
        </div>
    </div>
</div>