<div *ngIf="showUsersLoader === true; then usersLoader else usersList"></div>
<ng-template #usersLoader>
    <div class="row mt-3">
        <div class="col-12" align="center">
            <h4>
                <mat-spinner mode="indeterminate" color="primary" [diameter]=30></mat-spinner> Fetching Users ...
            </h4>
        </div>
    </div>
</ng-template>

<ng-template #usersList>
    <div class="card-body" *ngIf="users.length > 0; else noUsers">
        <mat-list>
            <mat-list-item *ngFor="let user of users" (click) = "viewUserDetails($event, user)">
                <mat-icon mat-list-icon>photo_filter</mat-icon>
                <div mat-line>{{user.firstName}} {{user.lastName}}</div>
                <mat-divider></mat-divider>
            </mat-list-item>
            </mat-list>
    </div>
</ng-template>

<ng-template #noUsers>
    <div class="card-body" align="center">
        <h4>No Users Found!</h4>
    </div>
</ng-template>