<h4 mat-dialog-title>Add a new Question</h4>
<div mat-dialog-content>
    <form [formGroup]="addQuestionCategoryControl" class="form">
        <div class="row">
            <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Question Name </mat-label>
                    <input matInput type="text" formControlName="questionName">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Description </mat-label>
                    <input matInput type="text-area" formControlName="description">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label> Question Category </mat-label>
                    <input matInput type="text" formControlName="questionCategory">
                </mat-form-field>
            </div>
        </div>
    </form>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="primary" [mat-dialog-close]>Cancel </button>
        <button mat-raised-button color="primary" type="submit" [mat-dialog-close]="addQuestionCategoryControl.value"
            [disabled]="addQuestionCategoryControl.invalid">Submit</button>
    </mat-dialog-actions>

</div>