<div class="page-content">
  <div class="page-content">
    <div class="container-fluid animated fadeIn">
      <search *ngIf="(trainings$ | async)?.length > 0" [placeholder]="'Search trainings ...'"
        hint="Separate search terms using 'Enter' or 'Comma'" (searchChange)="searchTextChanged($event)">
      </search>
      <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col-6">
                  <h2 class="mb-0">{{showAllTrainings ? "All" : "Active"}} Trainings</h2>
                </div>
                <div class="col-6 text-right">
                  <mat-slide-toggle [formControl]="deletedTrainingToggle" color="accent">Include Deleted
                    Trainings
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <categories-list [categories]="trainings$ | async | filterCategories: searchTerms"
                (categoryDeleted)="deleteTraining($event)" (categoryRestored)="restoreTraining($event)">
              </categories-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button mat-fab color="primary" class="fab" (click)=showAddTrainingDialog() matTooltip="Add a Training">
    <mat-icon>
      add
    </mat-icon>
  </button>
</div>