<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Admins
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.admins }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>supervised_user_circle</mat-icon>
                </div>
              </div>
            </div>

            <p class="mt-3 mb-0 text-sm" routerLink="/admins">
              <span class="text-nowrap pointer"> View All Admins </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Image Categories
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.imageCategories }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>style</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/image-management/categories">
              <span class="text-nowrap pointer"> View All Image Categories </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Images
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.images }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>photo_library</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/image-management/images">
              <span class="text-nowrap pointer"> View All Images </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Locations
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.locations }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>location_on</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/locations">
              <span class="text-nowrap pointer"> View All Locations </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Question Categories
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.questionCategories }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>style</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/question-management/categories">
              <span class="text-nowrap pointer"> View All Question Categories </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Questions
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.questions }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>question_answer</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/question-management/questions">
              <span class="text-nowrap pointer"> View All Questions </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Target Groups
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.targetGroups }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>group</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/target-groups">
              <span class="text-nowrap pointer"> View All Target Groups </span>
            </p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-stats">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-uppercase text-muted mb-0">
                  Active Trainings
                </h5>

                <span class="h2 font-weight-bold mb-0"> {{ entityCounts.trainings || 'N/A' }} </span>
              </div>

              <div class="col-auto">
                <div class="icon icon-shape bg-gradient-primary text-white rounded-circle shadow">
                  <mat-icon>touch_app</mat-icon>
                </div>
              </div>
            </div>

            <p class=" mt-3 mb-0 text-sm" routerLink="/training-management/trainings">
              <span class="text-nowrap pointer"> View All Trainings </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>