<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 col-8 mr-auto ml-auto">
                <div class="card" *ngIf="training; else trainingLoader">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="mb-0">{{ training?.name }}</h2>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row mt-2">
                            <div class="col-4">
                                <h2 class="mb-0">Description</h2>
                                <p>{{ training.description }}</p>
                            </div>
                            <div class="col-4">
                                <h2 class="mb-0">Scheduled For</h2>
                                <p>{{ training.scheduleFor | amDateFormat:"MM-DD-YYYY"}}</p>
                            </div>
                            <div class="col-4">
                                <h2 class="mb-0">Created On</h2>
                                <p>{{ training.createdAt | amDateFormat:"MM-DD-YYYY hh:mm:ss a"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="mb-0">Tags</h2>
                                <mat-chip-list aria-label="Tags">
                                    <mat-chip *ngFor="let keyword of training.keywords">{{ keyword }}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12">
                                <h2>Images & Questions Configuration</h2>
                                <table mat-table [dataSource]="trainingConfigurationForUI" *ngIf="trainingConfigurationForUI && trainingConfigurationForUI.length > 0">

                                    <!--- Note that these columns can be defined in any order.
                                          The actual rendered columns are set as a property on the row definition" -->

                                    <!-- Order Column -->
                                    <ng-container matColumnDef="order">
                                        <th mat-header-cell *matHeaderCellDef> Order </th>
                                        <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                                    </ng-container>

                                    <!-- Action Type Column -->
                                    <ng-container matColumnDef="actionType">
                                        <th mat-header-cell *matHeaderCellDef> Images/Questions </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.actionType == 0 ? "Images" : "Questions"}} </td>
                                    </ng-container>

                                    <!-- category Column -->
                                    <ng-container matColumnDef="category">
                                        <th mat-header-cell *matHeaderCellDef> Category </th>
                                        <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
                                    </ng-container>

                                    <!-- Duration Column -->
                                    <ng-container matColumnDef="duration">
                                        <th mat-header-cell *matHeaderCellDef> Duration </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.actionType == 0 ? element.duration + 'ms' : 'N/A'}} </td>
                                    </ng-container>

                                    <!-- Image Type Column -->
                                    <ng-container matColumnDef="imageType">
                                        <th mat-header-cell *matHeaderCellDef> Image Type </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.actionType == 0 ? element.imageTypeName : 'N/A'}} </td>
                                    </ng-container>

                                     <!-- Count Column -->
                                     <ng-container matColumnDef="count">
                                        <th mat-header-cell *matHeaderCellDef> Count </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.actionType == 0 ? element.quantity : 'N/A'}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="trainingConfigurationDisplayColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: trainingConfigurationDisplayColumns;">
                                    </tr>
                                </table>
                                <div class="row" *ngIf="!trainingConfigurationForUI || trainingConfigurationForUI.length == 0">
                                    <div class="col-12">
                                        <h4 class="text-center">No images or questions assigned</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-12 text-right">
                                <button mat-raised-button color="primary" class="mx-1"
                                    (click)="showQuestionSelectDialog()">
                                    Add Questions
                                </button>
                                <button mat-raised-button color="primary" class="mx-1"
                                    (click)="showImageSelectDialog()">
                                    Add Images
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #trainingLoader>
            <div align="center">
                <h4>
                    <mat-spinner mode="indeterminate" color="primary" [diameter]=30></mat-spinner> Fetching Training
                    Data ...
                </h4>
            </div>
        </ng-template>
    </div>
</div>