<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 col-8 mr-auto ml-auto">
                <div class="card" *ngIf="training; else trainingLoader">
                    <div class="card-body">
                        <div class="card-title">
                            <h2 class="mb-0">{{ training?.name }}</h2>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="row mt-2">
                            <div class="col-4">
                                <h2 class="mb-0">Description</h2>
                                <p>{{ training.description }}</p>
                            </div>
                            <div class="col-4">
                                <h2 class="mb-0">Scheduled For</h2>
                                <p>{{ training.scheduleFor | amDateFormat:"MM-DD-YYYY"}}</p>
                            </div>
                            <div class="col-4">
                                <h2 class="mb-0">Created On</h2>
                                <p>{{ training.createdAt | amDateFormat:"MM-DD-YYYY hh:mm:ss a"}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2>Images Configuration</h2>
                                <div class="row" *ngIf="training?.imageData">
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <h3 class="mb-0">Category</h3>
                                        <p>{{ training.imageData.category.name }}</p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <h3 class="mb-0">Duration</h3>
                                        <p>{{ training.imageData.duration }}ms</p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <h3 class="mb-0">Count</h3>
                                        <p>{{ training.imageData.quantity }}</p>
                                    </div>
                                    <div class="col-12 col-sm-6 col-lg-3">
                                        <h3 class="mb-0">Image Type</h3>
                                        <p>{{ training.imageData.imageTypeName }}</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!training?.imageData">
                                    <div class="col-12">
                                        <h6 class="text-center">No images assigned</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2>Questions Configuration</h2>
                                <div class="row" *ngIf="training?.questionData">
                                    <div class="col-12">
                                        <h3 class="mb-0">Category</h3>
                                        <p>{{ training.questionData.category.name }}</p>
                                    </div>
                                </div>
                                <div class="row" *ngIf="!training?.questionData">
                                    <div class="col-12">
                                        <h6 class="text-center">No questions assigned</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h2 class="mb-0">Tags</h2>
                                <mat-chip-list aria-label="Tags">
                                    <mat-chip *ngFor="let keyword of training.keywords">{{ keyword }}</mat-chip>
                                </mat-chip-list>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-right">
                                <button mat-raised-button color="primary" class="mx-1"
                                    (click)="showQuestionSelectDialog()">
                                    Add Questions
                                </button>
                                <button mat-raised-button color="primary" class="mx-1"
                                    (click)="showImageSelectDialog()">
                                    Add Images
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #trainingLoader>
            <div align="center">
                <h4>
                    <mat-spinner mode="indeterminate" color="primary" [diameter]=30></mat-spinner> Fetching Training
                    Data ...
                </h4>
            </div>
        </ng-template>
    </div>
</div>