<div class="page-content">
    <div class="container-fluid animate__animted animate__fadeIn">
        <search *ngIf="(users$ | async)?.length > 0" [placeholder]="'Search Users ...'"
            hint="Separate search terms using 'Enter' or 'Comma'" (searchChange)="searchTextChanged($event)">
        </search>

        <div class="row mt-2">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <h2 class="mb-0">All Users</h2>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <users-list [users]="users$ | async"
                        (userDetailsViewed)="viewUserDetails($event)" 
                        (userActiveToggled)="toggleUserActive($event)"></users-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>