<div class="page-content">
    <div class="container-fluid animated fadeIn">
        <search *ngIf="(images$ | async)?.length > 0" [placeholder]="'Search Images ...'"
            hint="Separate search terms using 'Enter' or 'Comma'" (searchChange)="searchTextChanged($event)">
        </search>
        <div class="d-flex justify-content-end my-3">
            <mat-slide-toggle [formControl]="deletedImagesToggle" color="accent">Include Deleted
                Images
            </mat-slide-toggle>
        </div>
        <images-list [images]="images$ | async | filterImages: searchTerms" (imageDeleted)="deleteImage($event)" (imageRestored)="restoreImage($event)"
            (imageViewed)="viewImage($event)"></images-list>
    </div>
    <button mat-fab color="primary" class="fab" routerLink="/image-management/images/add" matTooltip="Add new image"
        matTooltipPosition="before">
        <mat-icon>
            add
        </mat-icon>
    </button>
</div>